@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title></title>
	<!--css here-->
	<!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
</head>
<body>
	@RenderBody()
	<!--scripts here-->
	<!--<script type="text/javascript" src="/css/script.js"></script>-->
</body>
</html>